@font-face {
    font-family: 'tanmon';
    src: url('../fonts/TAN - MON CHERI.woff2') format('woff2'),
         url('../fonts/TAN - MON CHERI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
